<% content_for(:title_suffix) { 'Genres' } %>
<% content_for(:meta_description) { 'Songwriters Sid Tepper and Roy C. Bennett - Song Genres' } %>
<article>

  <section>
    <br/>
    <h3>The Many Genres</h3>
    <br/>
    <p class="text-justify">
      Sid and Roy’s discography ran the gamut of genres, and were sung by a vast constellation of stars. They were equally
      at home with love songs, children’s and holiday songs, and just plain fun songs. With over 300 published songs, the
      duo covered
      many genres, but regardless of type, their songs, as <cite>The New York Times</cite> put it, were distinguished
      by a wholly enjoyable combination of catchy melody and clever lyrics.
    </p>
    <br/>
    <br/>
  </section>


  <section>
    <h4>Love Songs</h4>
    <br/>
    <p class="text-justify">
      Sid and Roy often wrote about love, and came up with a number of memorable songs that approached it from a variety of
      angles. Among those that still resonate deeply with audiences are
      <%= youtube_text_song_link('“Red Roses for a Blue Lady”', 'yeMFw9tBrGo') %>
      and
      <%= youtube_text_song_link('“Kiss of Fire”', 'gVxwN3Eaf_U') %>.

      Others focused on budding passions, like the wonderfully playful duet by Elvis and Ann-Margret,
      <%= youtube_text_song_link('“The Lady Loves Me”', '_fTiGRljqDk') %>.

      They also wrote about the flip side of love, heartbreak, in Nancy
      Wilson’s <%= youtube_text_song_link('“Don’t Come Running Back to Me”', 'QlzCpTEhhQM') %>.

      And they even wrote a love song to their hometown, Connie Francis’ silky smooth
      <%= youtube_text_song_link("“I've Got a Crush on New York Town”", '0_Gycn0UJ9M') %>.
    </p>
    <br/>
    <br/>
  </section>


  <section>
    <h4>Rock 'n' Roll Songs</h4>
    <br/>
    <p class="text-justify">
      Ushering in the birth of Rock 'n' Roll, Sid and Roy’s songs were recorded by the likes of The Beatles
      (<%= youtube_text_song_link('“Glad All Over”', 'ghag_1WCEuQ') %>),
      Elvis (<%= youtube_text_song_link('“GI Blues”', 'GkyjCJvHLsA') %>),
      Jay and the Americans (<%= youtube_text_song_link('“Goodbye Boys, Goodbye”', 'BWyneW_A4_8') %>),
      <%= youtube_text_song_link('Jeff Beck', 'OP0JNb6jfqU') %>,
      and even
      <%= youtube_text_song_link('Plain White T’s', 'O3ZhSMmEFFU') %>.
    </p>
    <br/>
    <br/>
  </section>


  <section>
    <h4>Children's and Holiday Songs</h4>
    <br/>
    <p class="text-justify">
      Both fathers themselves, the songwriting duo never forgot the kids. These songs included
      <%= youtube_text_song_link('“The Little Train Who Said Ah Choo”', 'S2PFb24d2Ak') %>,
      <%= youtube_text_song_link('“Five Sleepyheads”', 'tZK2FcTjBsE') %>,
      and Rosemary Clooney’s
      <%= youtube_text_song_link('“Eggbert, The Easter Egg”', 'QF0ilv1HsHQ') %>.
      Some of their kids’ songs are truly evergreens that are heard each year throughout the holiday season,
      such as “Nuttin for Christmas”
      (<%= youtube_text_song_link('1', '9J-hyQGmhlo') %>
      & <%= youtube_text_song_link('2', 'VTjUZlLdmu8') %>) and
      <%= youtube_text_song_link('“Suzy Snowflake”', 'UiFXZhU5kp4') %>.
    </p>
    <br/>
    <br/>
  </section>


  <section>
    <h4>Movie Songs</h4>
    <br/>
    <p class="text-justify">
      So much of Elvis’ career revolved around his many movies, and in turn, much of Sid and Roy’s writing was devoted to
      those movies. The duo became a fixture in the soundtrack of Elvis’ life, as dozens of their songs appeared in the
      films. Sid and Roy also wrote the
      <%=  youtube_text_song_link('title song ', 'BxNohANhJiA') %> for
      for
      <a href="https://en.wikipedia.org/wiki/The_Young_Ones_(1961_film)" target="_blank">“The Young Ones”</a>,
      the second most popular movie at the British box office in 1961,
      starring the enormously popular UK recording artist, Cliff Richard.
    </p>
  </section>
</article>
