<h3>The Many Genres</h3>
<p>
Sid and Roy’s discography ran the gamut of genres, sung by a vast constellation of stars. They were equally at home
with love songs, children’s songs, and just plain fun songs. As <cite>The New York Times</cite> put it, their songs
were characterized by an unbeatable combination of catchy melody and clever lyrics. With over 300 published songs, they
covered many genres, not by design, but simply because that’s where the spirit took them.
</p>
<br/>
<br/>


<h4>Love Songs</h4>

<ul>
  <%= li_external_link('“Red Roses for a Blue Lady”', 'https://www.youtube.com/watch?v=drU6kuih41w') %>
  <%= li_external_link('“Kiss of Fire”', 'https://youtu.be/gVxwN3Eaf_U') %>
</ul>
<p>
...They even wrote a love song to New York City, their home town. It's a beautiful melody sung superbly
by Connie Francis:
<%= external_link("“I've Got a Crush on New York Town”", 'https://www.youtube.com/watch?v=BWyneW_A4_8') %>.
</p>
<br/>
<br/>


<h4>Rock 'n' Roll Songs</h4>

<p>
  Sid’s and Roy’s careers spanned the beginning of the rock & roll era.  Some of their efforts were recorded
  by The Beatles (<%= external_link('“Glad All Over”', 'https://www.youtube.com/watch?v=ghag_1WCEuQ') %>),
  Elvis (<%= external_link('“GI Blues”', 'https://www.youtube.com/watch?v=GkyjCJvHLsA') %>),
  Jay and the Americans (<%= external_link('“Goodbye Boys, Goodbye”', 'https://www.youtube.com/watch?v=BWyneW_A4_8') %>),
  <%= external_link('Jeff Beck', 'https://youtu.be/OP0JNb6jfqU') %>
  and even
  <%= external_link('Plain White T’s', 'https://youtu.be/O3ZhSMmEFFU') %>.
</p>
<br/>
<br/>


<h4>Children's Songs</h4>

<p>
  The duo wrote not only songs for grown-ups in the room, but for kids, as well.  These included
  <%= external_link('“Nuttin for Christmas”', 'https://www.youtube.com/watch?v=fRJlpxOsQoM') %>
  and
  <%= external_link('“Suzy Snowflake”', 'https://www.youtube.com/watch?v=mdYDdm3fZiM') %>,
  which to this day are heard throughout the holiday season.
</p>
<br/>
<br/>


<h4>Movie Songs</h4>

<p>
  Most notable, of course, is the fact that Sid and Roy played a significant role in the Elvis firmament, having had 42
  songs recorded by “the King”. They were one of the few go-to teams when Elvis needed romantic or witty songs in his
  films that were amenable to his own special sauce that would resonate with his fans. In addition to the title songs of
  two Elvis movies &mdash;
  <%= external_link('“GI Blues”', 'https://www.youtube.com/watch?v=GkyjCJvHLsA') %>
  and
  <%= external_link('“Stay Away”', 'https://www.youtube.com/watch?v=J_wD4o3pqq8') %>
  &mdash; Sid and Roy penned the title songs to Cliff Richard’s
  <%= external_link('“The Young Ones”', 'https://www.youtube.com/watch?v=BxNohANhJiA') %>
  and Donald O’Connor’s
  <%= external_link('“Francis, the Talking Mule”  ', 'https://youtu.be/p82-fgTZpLI') %>
  .
</p>
