<h3>The Many Genres</h3>
<p>
  Sid and Roy’s discography ran the gamut of genres, and were sung by a vast constellation of stars. They were equally
  at home with love songs, children’s songs, and just plain fun songs. With over 300 published songs, the duo covered
  many genres, but regardless of type, their songs, as <cite>The New York Times</cite> put it, were distinguished
  by a wholly enjoyable combination of catchy melody and clever lyrics.
</p>
<br/>
<br/>


<h4>Love Songs</h4>


<p>
  Sid and Roy often wrote about love, and came up with a number of memorable songs that approached it
  from a variety of angles. Among those that resonated deeply with the public were
<%= youtube_text_song_link('“Red Roses for a Blue Lady”', 'drU6kuih41w') %>
and
<%= youtube_text_song_link('“Kiss of Fire”', 'gVxwN3Eaf_U') %>.
  Some focused on budding passions, like the wonderfully clever and playful duet by Elvis and Ann-Margret,
<%= youtube_text_song_link('“The Lady Loves Me”', '_fTiGRljqDk') %>.
  They even wrote a love song to New York City, their home town.
  It's a beautiful melody, sung superbly by Connie Francis:
<%= youtube_text_song_link("“I've Got a Crush on New York Town”", '0_Gycn0UJ9M') %>.
</p>
<br/>
<br/>


<h4>Rock 'n' Roll Songs</h4>

<p>
  Sid’s and Roy’s careers spanned the beginning of the rock & roll era. Some of their efforts were recorded
  by The Beatles (<%= youtube_text_song_link('“Glad All Over”', 'ghag_1WCEuQ') %>),
  Elvis (<%= youtube_text_song_link('“GI Blues”', 'GkyjCJvHLsA') %>),
  Jay and the Americans (<%= youtube_text_song_link('“Goodbye Boys, Goodbye”', 'BWyneW_A4_8') %>),
  <%= youtube_text_song_link('Jeff Beck', 'OP0JNb6jfqU') %>
  and even
  <%= youtube_text_song_link('Plain White T’s', 'O3ZhSMmEFFU') %>.
</p>
<br/>
<br/>


<h4>Children's Songs</h4>

<p>
  The duo wrote not only songs for grown-ups in the room, but for kids, as well. These included
  <%= youtube_text_song_link('“Nuttin for Christmas”', 'fRJlpxOsQoM') %>
  and
  <%= youtube_text_song_link('“Suzy Snowflake”', 'mdYDdm3fZiM') %>,
  which to this day are heard throughout the holiday season.
</p>
<br/>
<br/>


<h4>Movie Songs</h4>

<p>
  Most notable, of course, is the fact that Sid and Roy played a significant role in the Elvis firmament, having had 42
  songs recorded by “the King”. They were one of the few go-to teams when Elvis needed romantic or witty songs in his
  films that were amenable to his own special sauce that would resonate with his fans. In addition to the title songs of
  two Elvis movies —
  <%= youtube_text_song_link('“GI Blues”', 'GkyjCJvHLsA') %>
  and
  <%= youtube_text_song_link('“Stay Away”', 'J_wD4o3pqq8') %>
  — Sid and Roy penned the title songs to Cliff Richard’s
  <%= youtube_text_song_link('“The Young Ones”', 'BxNohANhJiA') %>
  and Donald O’Connor’s
  <%= youtube_text_song_link('“Francis, the Talking Mule”', 'p82-fgTZpLI') %>.
</p>
