<h3>The Many Genres</h3>
[discuss the variety of genres, and witty songs, e.g. The Naughty Lady of Shady Lane, Song of the Shrimp...]

<br/>
<br/>


<h4>Love Songs</h4>

<ul>
  <%= li_external_link('“Red Roses for a Blue Lady”', 'https://www.youtube.com/watch?v=drU6kuih41w') %>
  <%= li_external_link('“Kiss of Fire”', 'https://youtu.be/gVxwN3Eaf_U') %>
</ul>

<br/>
<br/>


<h4>Rock & Roll Songs</h4>
<ul>
  <%= li_external_link('“GI Blues”', 'https://www.youtube.com/watch?v=GkyjCJvHLsA') %>
  <%= li_external_link('“Glad All Over”', 'https://www.youtube.com/watch?v=ghag_1WCEuQ') %>
</ul>
<br/>
<br/>


<h4>Children's Songs</h4>

<ul>
<%= li_external_link('Suzy Snowflake', 'https://www.youtube.com/watch?v=mdYDdm3fZiM') %>
<%= li_external_link('Nuttin for Christmas', 'https://www.youtube.com/watch?v=fRJlpxOsQoM') %>
</ul>
<br/>


<h4>Movie Songs</h4>

<p>
  Most notable, of course, is the fact that Sid and Roy played a significant role in the Elvis firmament, having had 42
  songs recorded by “the King”. They were one of the few go-to teams when Elvis needed love songs or witty ones in his
  films that were amenable to his own special sauce that would resonate with his fans. In addition to the title songs of
  two Elvis movies &mdash;
  <%= external_link('“GI Blues”', 'https://www.youtube.com/watch?v=GkyjCJvHLsA') %>
  and
  <%= external_link('“Stay Away”', 'https://www.youtube.com/watch?v=J_wD4o3pqq8') %>
  &mdash; Sid and Roy penned the title songs to Cliff Richard’s
  <%= external_link('“The Young Ones”', 'https://www.youtube.com/watch?v=BxNohANhJiA') %>
  and Donald O’Connor’s “Francis, the Talking Mule.”
</p>

<br/>
