<h3>Resources</h3>
<br/>


<h4>Discography</h4>
<br/>

<ul>
<%= li_external_link(
    'Tepper and Bennett Discography (discogs.com)',
    'https://www.discogs.com/search/?q=tepper+bennett&type=all'
  )
%>
</ul>
<br/>

<h4>Wikipedia</h4>
<br/>

<ul>
<%= li_external_link(
        'Sid Tepper Wikipedia Article',
        'https://en.wikipedia.org/wiki/Sid_Tepper'
    )
%>
<%= li_external_link(
        'Roy C. Bennett Wikipedia Article',
        'https://en.wikipedia.org/wiki/Roy_C._Bennett'
    )
%>
</ul>
<br/>

<h4>Outside the Box</h4>
<br/>
<ul>
  <%= li_external_link(
          'Red Roses for a Blue Lady - Moscow City Jazz Band',
          'https://www.youtube.com/watch?v=8-kRyR9c0uc'
      )
  %>
  <%= li_external_link(
          'Red Roses for a Blue Lady - Victoria Junior College Choir (Singapore) Choreographed Production, 2019',
          'https://www.youtube.com/watch?v=me8aPqsQ620'
      )
  %>
  <%= li_external_link(
          'Einsamer Cowboy - German rendition of Lonesome Cowboy',
          'https://www.youtube.com/watch?v=CrfwRBEEt_U'
      )
  %>
  <%= li_external_link(
          "Twenty Tiny Fingers - a punk rock version by Kilburn and the High Roads",
          'https://www.youtube.com/watch?v=8tdJg3oB5DM'
      )
  %>
</ul>
<br/>

<h4>Obituaries</h4>
<br/>
<ul>

<%= li_external_link(
        'Sid Tepper Obituary in <cite>The New York Times</cite>',
        'https://www.nytimes.com/2015/04/30/arts/sid-tepper-dies-at-96-delivered-red-roses-for-a-blue-lady-and-other-songs.html'
    )
%>
<%= li_external_link(
          'Roy Bennett Obituary in <cite>The New York Times</cite>',
          'https://www.nytimes.com/2015/07/14/arts/music/roy-c-bennett-dies-at-96-writer-of-popular-songs.html'
      )
  %>

</ul>