<div class="container-fluid no-horiz-padding">

  <h3 class="title">The Songwriting Team of</h3>
  <div class="responsive-xs-only"><h1 class="title">Tepper & Bennett</h1></div>
  <div class="responsive-no-xs"><h1 class="title">Sid Tepper and Roy C. Bennett</h1></div>
  <br/>

  <div class="container nav-container no-horiz-padding">
    <nav class="nav-justified">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" style="align: center">
          <%= nav_tab('home', true) %>
          <%= nav_tab('songs') %>
          <%= nav_tab('genres') %>
          <%= nav_tab('elvis') %>
          <%= nav_tab('inquiries') %>
          <%= nav_tab('resources') %>
        </div>
    </nav>
  </div>

  <br/>
  <br/>

  <div class="container no-horiz-padding">
    <div class="tab-content" id="nav-tabContent">
      <%= nav_content('home', true) %>
      <%= nav_content('songs') %>
      <%= nav_content('genres') %>
      <%= nav_content('elvis') %>
      <%= nav_content('inquiries') %>
      <%= nav_content('resources') %>
    </div>
  </div>

  <div class="footer">
    <p>
      © <%= external_link('Bennett Business Solutions, Inc.', 'https://www.bbs-software.com') %>, 2020
    </p>
    <p>
      <label for="bgcolor-picker">Select a different background color: &nbsp;</label>
      <input id="bgcolor-picker" type="color" name="bgcolor" value="#f5deb3">
      <span>&nbsp;</span>
      <span id="bg-color-value-text">#f5deb3</span>
    </p>
  </div>
</div>
