<h3>The Songs</h3>

<br/><br/>

<p>
  Here are selections of songs from Tepper and Bennett. You can select "Best", "Elvis", or "All".
  ("All" is all the songs we have access to on this web site, but is not really all the songs
  written by Tepper and Bennett.)
</p>

<p>
  Music supervisors, please visit this site's <%= link_to 'Inquiries', '/inquiries' %> page
  for rights administrators contact and other information.
</p>

<br/>

<nav class="nav-pills nav-fill navbar-expand-md nav-justified navbar-light">
  <div class="container nav-container no-horiz-padding" style="display: block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#songs-scope-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="songs-scope-navbar" class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav nav-fill mt-2 mt-lg-0">
        <% %w(best elvis all).each do |scope| %>
          <li class="nav-item">
            <a
              class="nav-link song-scope-item"
              id="songs-scope-<%= scope %>"
              href="/songs/list/<%= scope %>"
              data-toggle="tab"
              role="tab">
              <%= scope.capitalize %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br />

<%= render partial: 'application/song_table', locals: { table_id: 'songsSongTable', song_plays: songs_scope } %>
