<% genres = song.genres.pluck(:name).join(', ') %>
<% writers = song.writers.pluck(:name).join(', ') %>
<% performers = song.performers.pluck(:name) %>
<% movies = song.movies.pluck(:name, :year).map do |(name, year)|
  name + (year ? " (#{year})" : '')
end.join(', ') %>
<% rights_admins = song.rights_admin_orgs.count == 0 ? '(Unknown)' : song.rights_admin_orgs.pluck(:name).join('<br/>').html_safe %>
<% song_plays = song.song_plays %>

<div>
  <button id="song-back-button" class="btn btn-primary medium-button back-action float-left" alt="Back" title="Back">Back</button>
  <h2 class="title text-center" >Song: <%= song.name %></h2>
  <br/>
</div>

<div class="table-responsive">
  <table class="table">
    <thead></thead>
    <tbody>
    <tr>
      <th>Genres</th>
      <td><%= genres %></td>
    </tr>
    <tr>
      <th>Writers</th>
      <td><%= writers %></td>
    </tr>
    <tr>
      <th>Performers</th>
      <td>
        <% performers.each do |performer| %>
          <%= performer %><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Movies</th>
      <td><%= movies %></td>
    </tr>
    <tr>
      <th>Rights Administrators</th>
      <td><%= rights_admins %></td>
    </tr>
    </tbody>

    <% if song_plays.count > 0 %>
      <tr>
        <th>Plays</th>
        <td>
          <table class="table table-borderless">
            <% song_plays.each do |play| %>
              <tr>
                <td><%= play.performers.pluck(:name).join(', ') %></td>
                <td><%= render partial: 'youtube_image_link', locals: { url: play.youtube_embed_url } %></td>
              </tr>
            <% end %>
          </table>
      </tr>
    <% end %>
  </table>
</div>
