<% content_for(:title_suffix) { 'Resources' } %>

<article>
  <h3>Resources</h3>
  <br/>


  <section>
    <h4>Discography</h4>
    <br/>

    <ul>
      <%= li_external_link('Tepper and Bennett Discography (discogs.com)', 'https://www.discogs.com/search/?q=tepper+bennett&type=all') %>
    </ul>
    <br/>
  </section>


  <section>
    <h4>Wikipedia</h4>
    <br/>
    <ul>
      <%= li_external_link('Sid Tepper Wikipedia Article', 'https://en.wikipedia.org/wiki/Sid_Tepper') %>
      <%= li_external_link('Roy C. Bennett Wikipedia Article', 'https://en.wikipedia.org/wiki/Roy_C._Bennett') %>
    </ul>
    <br/>
  </section>


  <section>
    <h4>Off the Beaten Path</h4>
    <br/>
    <ul>
      <li><%= youtube_text_song_link('Red Roses for a Blue Lady - Moscow City Jazz Band', '8-kRyR9c0uc') %></li>
      <li><%= youtube_text_song_link('Red Roses for a Blue Lady - Victoria Junior College Choir (Singapore) Choreographed Production, 2019', 'me8aPqsQ620') %></li>
      <li><%= youtube_text_song_link('Einsamer Cowboy - German rendition of Lonesome Cowboy', 'CrfwRBEEt_U') %></li>
      <li><%= youtube_text_song_link("Song of the Shrimp - sung as a dirge by Naysayer", 'lGv1srhfOVw') %></li>
      <li><%= youtube_text_song_link("Twenty Tiny Fingers - a punk rock version by Kilburn and the High Roads", '8tdJg3oB5DM') %></li>
      <li><%= youtube_text_song_link("Kiss of Meyer - Mickey Katz sings a satire of Kiss of Fire with some Yiddish lyrics and Klezmer interludes", '7ELtGuCKPao') %></li>
      <li><%= youtube_text_song_link("Kiss of Myer - Allan Sherman of Hello Muddah, Hello Faddah fame sings his own satire of Kiss of Fire", '5rvEWG3zz4w') %></li>
      <li><%= youtube_text_song_link("Li'l Ole Kiss of Fire - a Bluegrass version of Kiss of Fire with modified lyrics and key", 'AJuuOHkiY8A') %></li>
      <li><%= youtube_text_song_link("Nothin' for Christmas (Eartha Kitt) - a lyric rewrite with an interesting twist", 'TwFkoGzoYm8') %></li>
    </ul>
    <br/>
  </section>


  <section>
    <h4>Obituaries</h4>
    <br/>
    <ul>
      <%= li_external_link(
              'Sid Tepper Obituary in <cite>The New York Times</cite>'.html_safe,
              'https://www.nytimes.com/2015/04/30/arts/sid-tepper-dies-at-96-delivered-red-roses-for-a-blue-lady-and-other-songs.html'
          )
      %>
      <%= li_external_link(
              'Roy C. Bennett Obituary in <cite>The New York Times</cite>'.html_safe,
              'https://www.nytimes.com/2015/07/14/arts/music/roy-c-bennett-dies-at-96-writer-of-popular-songs.html'
          )
      %>
      <%= li_external_link(
              'Sid Tepper Obituary in <cite>Variety</cite>'.html_safe,
              'https://variety.com/2015/music/news/sid-tepper-dead-dies-wrote-songs-for-sinatra-elvis-the-beatles-1201480032/
    '
          )
      %>
      <%= li_external_link(
              'Roy C. Bennett Obituary in <cite>Variety</cite>'.html_safe,
              'https://variety.com/2015/music/people-news/roy-c-bennett-dies-at-97-wrote-songs-for-sinatra-elvis-the-beatles-1201537186/
    '
          )
      %>
    </ul>
  </section>
</article>
