<div
     class="tab-pane<%= active ? ' show active' : '' %>"
     id="nav-<%= internal_name %>"
     data-parent="nav-<%= internal_name %>-tab"
     role="tabpanel"
     aria-labelledby="nav-<%= internal_name %>-tab"
>
    <%= html %>
</div>
