<div  class="card rpt-card" style="background-color: unset">
  <div class="card-header" id="<%= card_button_id %>">
    <h1 class="mb-0">
      <button
          class="btn btn-link accordion-btn-text"
          data-toggle="collapse"
          data-target="#<%= card_content_id %>"
          aria-expanded="false"
          aria-controls="<%= card_content_id %>">
        <%= report_title %>
      </button>
    </h1>
  </div>

  <div id="<%= card_content_id %>" class="collapse" aria-labelledby="<%= card_button_id %>" data-parent="#reports-accordion">
    <div class="card-body">

      <div class="container">
        <div class="row justify-content-between">
          <div class="col-8">
            <div class="container nav-container no-horiz-padding">
              <nav class="navbar nav-justified">
<!--                <nav class="nav nav-pills nav-fill navbar-expand nav-justified">-->
                <div class="nav nav-tabs" role="tablist">
                  <div class="navbar-brand rpt-nav-tab nav-link">Format:</div>
                  <%= render partial: 'reports/report_format_nav_tab.html.erb', locals: { internal_name: name + '_html', display_name: 'HTML', active: true  }  %>
                  <%= render partial: 'reports/report_format_nav_tab.html.erb', locals: { internal_name: name + '_text', display_name: 'Text', active: false }  %>
                  <%= render partial: 'reports/report_format_nav_tab.html.erb', locals: { internal_name: name + '_json', display_name: 'JSON', active: false }  %>
                  <%= render partial: 'reports/report_format_nav_tab.html.erb', locals: { internal_name: name + '_yaml', display_name: 'YAML', active: false }  %>
                </div>
              </nav>
            </div>
          </div>
          <div class="col-4 align-self-center" style="text-align: right;">
            <button id="<%= copy_button_id %>" class="rpt-copy-button btn btn-primary" alt="Copy to clipboard" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">Copy</button>
          </div>
        </div>
      </div>

      <br/>
      <br/>

      <div class="container no-horiz-padding">
        <div class="tab-content" id="<%= content_tab_id %>">
          <%= render partial: 'reports/report_format_nav_content', locals: {name: name + '_html', html_text: report_html, active: true } %>
          <%= render partial: 'reports/report_format_nav_content', locals: {name: name + '_text', html_text: report_text, active: false } %>
          <%= render partial: 'reports/report_format_nav_content', locals: {name: name + '_json', html_text: report_json, active: false } %>
          <%= render partial: 'reports/report_format_nav_content', locals: {name: name + '_yaml', html_text: report_yaml, active: false } %>
        </div>
      </div>
    </div>
  </div>
</div>
