<div
     class="tab-pane<%= active ? ' show active' : '' %>"
     id="nav-<%= name %>"
     data-parent="nav-<%= name %>-tab"
     role="tabpanel"
     aria-labelledby="nav-<%= name %>-tab">
  <% info = { "tab-id" => "nav-#{name}-tab", "id" => "nav-#{name}", "name" => name, "data-parent" => "nav-#{name}-tab" } %>
  Placeholder text:<br/>
  <%= inspect(info) %>
</div>
