<div
     class="tab-pane rpt-tab-pane<%= active ? ' show active' : '' %>"
     id="nav-rpt-<%= rpt_format %>"
     data-parent="nav-rpt-<%= rpt_format %>-tab"
     role="tabpanel"
     aria-labelledby="nav-rpt-<%= rpt_format %>-tab"
>
    <%= report.content(rpt_format) %>
</div>
