<a
    id="nav-<%= internal_name %>-tab"
    class="nav-item nav-link rpt-nav-tab<%= active ? ' active' : '' %>"
    data-toggle="tab"
    data-target="#nav-<%= internal_name %>"
    href="/nav-<%= internal_name %>"
    role="tab"
    aria-selected=<%= active ? 'true' : 'false' %>
  >
  <%= display_name %>
</a>
