<a class="nav-item nav-link<%= active ? ' active' : '' %> rpt-nav-tab "
   id="nav-<%= internal_name %>-tab"
   data-toggle="tab"
   href="#nav-<%= internal_name %>"
   role="tab"
   aria-selected=<%= active ? 'true' : 'false' %>>
  <%= display_name %>>
</a>
