<button class="nav-item nav-link rpt-nav-tab "
   id="nav-<%= internal_name %>-tab"
   data-toggle="tab"
   data-target="#nav-<%= internal_name %>"
   href="/nav-<%= internal_name %>"
   role="tab"
   aria-selected=<%= active ? 'true' : 'false' %>>
  <%= display_name %>
</button>
