<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'google_analytics' %>

  <% title = 'Tepper & Bennett' %>
  <% if content_for?(:title_suffix); title += " - " + yield(:title_suffix); end %>
  <title><%= title %></title>

  <% if content_for?(:meta_description) %>
  <meta name="description" content="<%= yield(:meta_description) %>" />
  <% end %>

  <meta name="keywords" content="Sid Tepper, Roy Bennett, songwriter, songs, Elvis Presley, Cliff Richard, Andy Williams, Bert Kaempfert, Wayne Newton, Red Roses for a Blue Lady, Young Ones, Kiss of Fire">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<link href="https://fonts.googleapis.com/css2?family=Spectral:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Public+Sans" rel="stylesheet">


<div class="container-fluid no-horiz-padding">

  <nav class="nav-pills nav-fill navbar-expand-md nav-justified navbar-light">
    <div class="container nav-container no-horiz-padding" style="display: block">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="main-menu-navbar" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav nav-fill mt-2 mt-lg-0">
          <% %w(home songs genres elvis resources reports inquiries).each do |name| %>
            <li class="nav-item">
              <a
                class="nav-link main-menu-item"
                id="main-menu-<%= name %>"
                href="/<%= name %>"
                data-toggle="tab"
                role="tab">
                <%= name.capitalize %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <br/>
  <br/>

  <h3 class="title">The Songwriting Team of</h3>
  <div class="responsive-xs-only"><h1 class="title">Tepper & Bennett</h1></div>
  <div class="responsive-no-xs"><h1 class="title">Sid Tepper and Roy C. Bennett</h1></div>
  <div><h3 class="title">Esteemed Hitmakers of the 40's, 50's, and 60's</h3></div>
  <br/>

  <div class="container no-horiz-padding">
    <div class="tab-content" id="main-nav-tabContent">
      <%= yield %>
    </div>
  </div>

  <%= render 'youtube-player-modal' %>

  <div class="footer">
    © <%= external_link('Bennett Business Solutions, Inc.', 'https://www.bbs-software.com') %>, 2023
    <span>&nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;</span>
    <label for="bgcolor-picker">Select a different background color: &nbsp;</label>
    <input id="bgcolor-picker" type="color" name="bgcolor" value="#f5deb3">
    <span>&nbsp;</span>
    <span id="bg-color-value-text">#f5deb3</span>
    or
    <a id="bgcolor-resetter" href=#>reset to original color.</a>
  </div>
</div>
</body>
</html>
